@use "@/assets/scss/abstracts/variables" as *;
// _buttons.scss
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 25px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 20px;
    border: none;
   
  
    &:hover {
      background-color: $background-color-1;
      color: $secondary-text-color;
    }
  
    &--primary {
      background-color: $background-color-3;
      color: $primary-text-color;
      border: 1px solid $primary-text-color;
    }
      
    &--secondary {
      background-color: $background-color-1;
      color: $secondary-text-color;
    }
    &--third {
      background-color: $background-color-2;
      color: $primary-text-color;
  
      border: 1px solid $primary-text-color;
      border-radius: 50px;
    }
    &--fourth {
      background-color: $background-color-1;
      color: $secondary-text-color;
      border: 1px solid $secondary-text-color;
      border-radius: 50px;
    }
    &--back {
      background-color: $background-color-2;
      color: $primary-text-color;
      border-radius: 0;
    }
    &--delete, &--save {
      background-color: $admin-primary-color;
      color: $admin-secondary-color;
      border-radius: 0;
      width: 100%;
    }
    &-add-option, &--delete-image {
      background-color: $admin-secondary-color;
      color: $admin-primary-color;
      border-radius: 0;
      width: auto;
      text-decoration: underline;
      &:hover {
        background-color: $admin-secondary-color;
        color: $admin-primary-color;
      }
    }
    &--delete-image {
      color: $admin-third-color;
      &:hover {
        color: $admin-third-color;
      }
    }
    &--logout {
      background-color: $background-color-3;
      color: $third-text-color;
      border-radius: 10px;
      
      &:hover {
        background-color:  $background-color-3;
        color:  $third-text-color;
      }
    }
  }
