@use "@/assets/scss/abstracts/variables" as *;
@use "@/assets/scss/abstracts/mixins" as *;
@use "@/assets/scss/layout/grid" as *;
@use "sass:map";

/* 📦 Cards-Container */
  .card {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    background-color: $background-color-2;
    border-radius: 20px;
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }