form {
    margin: 1rem 0;
  
    .form-group {
      margin-bottom: 1rem;
  
      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
      }
  
      .input,
      .select,
      .button {
        margin-top: 0.25rem;
      }
    }
  }