.slide-up-enter-active, .slide-up-leave-active {
    transition: all 0.4s ease;
}
.slide-up-enter-from, .slide-up-leave-to {
    transform: translateY(100%);
    opacity: 0;
}
.newsletter-form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FAC227;
    padding: 1rem;
    z-index: 1000;
    p {
        color: #355b4c;
    }
}
.newsletter-form.unsub-mode {
    button {
        background-color: #f00713;
    }
}

.newsletter-form form {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: none;
}

.newsletter-form form button {
    margin: 20px 0;
}

.unsubscribe-link {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #888;
    cursor: pointer;
    }
