/* Gleiche CSS-Stile für den Slider */
  .glide {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  .glide__slides {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    transition: transform 0.4s ease-in-out;
  }
  .glide__slide {
    flex: 0 0 auto;
    text-align: center;
    min-height: 400px;
    min-width: auto;
  }
  .glide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #FAC227;
    color: #355b4c;
    border: 1px solid #355b4c;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    border-radius: 10px;
    svg {
      font-size: 20px;
    }
  }
  .glide__arrow--left {
    left: 0px;
  }
  .glide__arrow--right {
    right: 0px;
  }
  .slide-position {
    text-align: right;
    font-size: clamp(1.4rem, 3vw, 2em);
    margin-top: 10px;
    color: #355b4c;
  }
    @media (max-width: 600px) {
    .slide-position {
        margin: 5px 0 !important;
    }
}