@use "@/assets/scss/abstracts/variables" as *;
@use "@/assets/scss/abstracts/mixins" as *;
@use "sass:map";

.home-container {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    section.container {
        &>div {
            margin: auto;
          
            @include respond-to("desktop") {
               width: map.get($contents-width, "desktop"); 
            }
        }
        h2 {
            display: flex;
            justify-content: space-around;
        }
    }

    .top-header-menu {
        display: flex;

        position: sticky;
        top: 0;
        width: 100%;
        background: rgba(233, 226, 208, 0.7); /* Leicht transparent */
        backdrop-filter: blur(10px); /* Verwischung */
        -webkit-backdrop-filter: blur(10px); /* Für Safari */
        z-index: 1000;
        
        div {
            display: flex;
            align-content: center;
           
            :first-child {
                justify-content: left;
                span {
                    padding-right: 15px;
                }
            }
            :last-child {
                justify-content: end;
                span {
                    padding-left: 15px;
                }
            }
            span {
                flex-direction: row;
                font-size: 1em;
            }
            &.menu {
                width: 33%;
               span, div span, div a {
                    color: $primary-text-color;
                }
                div span {
                    font-size: 14px;
                }
            }
            &.logo {
                width: 100%;
                justify-content: left;
                height: auto;
                @include respond-to("desktop") {
                    width: 33.33%;
                    justify-content: center;
                    height: 120px;
                }
                @include respond-to("tablet") {
                    width: 33.33%;
                }
                img {
                    width: 40%;
                    height: auto;
                }
            }
        }
    }
    .top-header { 
        position: relative;
        width: 100%;
        margin-top: 3em;
        .headline-container {
            position: relative;
            width: 80%;
            margin: auto;
            text-align: center;
            z-index: 20;
            line-height: 1;
            h1 {
                color: $primary-text-color;
            }
            h3 {
                color: $third-text-color;
                margin-bottom: 3em;
            }
            .buttons {
                display: flex;
                justify-content: center;
                flex-direction: column;


                button:first-child {
                    margin-top: 10px;
                }
                button:last-child {
                    margin-top: 10px;
                }

                @include respond-to("tablet") {
                    flex-direction: row;
                    button:first-child {
                        margin-right: 10px;
                    }
                    button:last-child {
                        margin-left: 10px;
                    }
                }
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 38%;
            background: url("@/assets/img/background-header.png") no-repeat center;
            background-size: cover;
        }

        .age-group {
            position: relative;
            width: inherit;
            z-index: 10;
            margin: 3em auto;
            h2 {
                color: #355b4c;
                margin-bottom: 1em;
            }
            .card {
                position: relative;
                border-radius: 20px 20px 0 0;
                padding: 0;
                margin: 10px 0;
                .img {
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                    }
                }
                &:hover {
                    box-shadow: none;
                }
            }
            .slide-position {
                @include respond-to("tablet") {
                    display: none;
                }
            }
            .content {
                position: absolute;
                bottom: -130px;
                width: 100%;
                padding: 5px 0;
                min-height: 120px;
                background-color: $background-color-3;
                display: inline-flex;
                justify-content: space-evenly;
                align-items: flex-end;
                border-radius: 0 0 20px 20px ;
                @include respond-to("desktop") {
                    bottom: -170px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $primary-text-color;
                    padding: 1em 0;
                    b {
                        
                        line-height: 1;
                        text-transform: uppercase;
                    }
                    img {
                        width: 54px;
                        height: 54px;
                        margin-top: 10px;
                        transition: transform 0.5s ease-in-out;
                        &:hover {
                            transform: rotate(180deg); 
                        }
                    }
                }
            
            }
        }
    }

    .what-is-headline {
       
        .headline {
            position: relative;
            font-size: clamp(1.4rem, 4vw, 3em);
            text-align: center;
            line-height: 1.2;
            color: $primary-text-color;
            margin-top: 2em;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;

            @include respond-to("desktop") {
                width: 60%;
                img {
                    display: block;
                }
            }
        }
    }

    .what-is-section {
        .wapper {
            display: flex;
            background-color: $background-color-1;
            height: auto;
            padding: 2em;
            border-radius: 20px;
            flex-direction: column;
            margin-top:5em;

            h4 {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                color: $secondary-text-color;
                font-size: clamp(1.4rem, 3vw, 2em);
                padding: 0 0 2em 0;
            }
            .button {
                display: flex;
                justify-content: space-around;
                padding: 3em 0 0 0;
            }
            .container.cards {
                gap: 25px;
            }
            .container {
                display: grid;
                justify-content: center;
                
                @include respond-to("desktop") {
                    flex-direction: row;
                }

                .card {
                    color: $secondary-text-color;
                    padding: 10px;
                    position: relative;
                    @include respond-to("tablet") {
                        border-radius: 20px;
                    }
                  
                    @include respond-to("tablet") {
                        .icon {
                           position: relative;
                        }
                    }
                    .info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: $primary-text-color;
                        :last-child {
                            text-align: center;
                            padding: 15px 0 20px;
                        }
                    }
                }
                .card:first-child {
                    .icon {
                        img {
                            width: 60px;
                        }
                        @include respond-to("tablet") {
                            img {
                                width: 200px;
                            }
                        }
                    }
                }
                .card:last-child {
                    background-color: $background-color-3;
                    .icon {
                        img {
                            width:100px;
                        }
                        @include respond-to("tablet") {
                            img {
                                width: 400px;
                            }
                        }
                    }
                }
                .card h3 {
                    cursor: pointer;
                    text-align: center;
                  }
                  
                  .arrow {
                    transition: transform 0.3s ease-in-out;
                  }
                  
                  .rotate {
                    transform: rotate(180deg);
                  }
            }
        }
    }

    .features-section {
        margin: auto;
        width: 100%;
        padding: 10px 0 35px;
        border-radius: unset;
        color: $primary-text-color;
        h2 {
            line-height: 1;
        }
        p {
            font-size: 20px;
        }
        .grid {
            display: grid;
            gap: 20px;
            justify-content: center;
            align-items: center;
          }
          
          /* Standard: 1 Spalte (Mobile unter 400px) */
          @media (max-width: 399px) {
            .grid {
              grid-template-columns: 1fr;
            }
          }
          
          /* Ab 400px: 2 Spalten */
          @media (min-width: 400px) {
            .grid {
              grid-template-columns: repeat(2, 1fr);
            }
          }
          
          /* Ab 900px: 4 Spalten */
          @media (min-width: 900px) {
            .grid {
              grid-template-columns: repeat(4, 1fr);
            }
          }
        .container {
            display: grid;
            justify-content: space-around;
            margin-top: 0em;
            
            @include respond-to("tablet") {
                flex-direction: row;
            }
            @include respond-to("desktop") {
                flex-direction: row;
                width: map.get($contents-width, "desktop-large"); 
            }
            .card {
                border: 1px solid $primary-text-color;
                @include respond-to("desktop") {
                    border: none;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                max-width: 320px;
                width: 100%;
                padding: 0 0 2m;
                b {
                  
                    line-height: 1.2;
                }
                .icon {
                    margin-bottom: 1.5em;
                    text-align: center;
                    img {
                        width: 50%;
                        height: auto;
                    }
                }
            }
        }
    }

    .ranking-section {
        margin: auto;
        width: 100%;
        color: $primary-text-color;
        margin-bottom: 20em;

        .glide {
            button.glide__arrow {
            display: none !important;
                @include respond-to("tablet") {
                    display: block !important;
                }
            }
        }
        .glide__slide {
            img {
            width: 100%;
            height: auto;
            max-width: 70px;
            }
        }

        h2 {
            color: $primary-text-color;
            margin-bottom: 1em;
        }
        .card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-size: 125px;
            background-position: right 5px;
            background-repeat: no-repeat;
            background-color: $background-color-3;
            position: relative;

            .game-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 5px 15px 30px 15px;
                b {
                    font-size: 1.8em;
                }
            }
        
            h4 {
                margin-top: 5px;
                font-size: 40px;
            }
        
            .game-type {
                position: absolute;
                bottom: 15px;
                right: 15px;
                text-transform: uppercase;
            }
            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                padding: 0 20px 0 7px;
                li {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    text-align: left;
                    padding: 2px 0;
                    span:first-child {
                        width: 8%;
                        text-align: center;
                    }
                    span:last-child {
                        width: 30%;
                        text-align: right;
                    }
                    strong {
                        width: 60%;
                        padding: 0 10px;
                    }
                }
            }
        }
    
    }

    .game-preview-section {
        margin: auto;
        width: 100%;
        padding: 60px 0 80px;
        border-radius: unset;
        h2 {
            color: $primary-text-color;
        }

        .glide__slides {
            position: relative;
            gap: 20px;
            .slider-track {
                display: flex;
                transition: transform 0.5s ease-in-out;
                width: max-content; /* Nimmt nur den benötigten Platz ein */
            }
            
            scroll-behavior: smooth;
            .card {
                position: relative;
                margin: 0;
                background-color: transparent;
                max-height: 550px;
                min-height: 465px;
                justify-content: start;
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: 100%;
                align-items: stretch;

                @include respond-to("mobile") {
                    box-shadow: none;
                }

                .short-description {
                    position: relative;
                    color: $primary-text-color;
                    background-color: $background-color-3;
                    border-radius: 20px;
                    padding-bottom: 15px;
                    width: 100%;
                    .headline-game-name {
                        text-align: center;
                    }
                    h2 {
                        font-size: clamp(2.2rem,3vw,3em);
                    }
                    .image-game {
                        object-fit: cover;
                        width: 100%;
                        display: block;
                        min-height: 260px;
                    }
                    .short {
                        position: relative;
                        display: flex;
                        width: 100%;
                        padding: 15px 15px 0 15px;
                        min-height: 7em;
                        height: 100%;
                        b {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            line-height: 1;
                            padding: 0 0 10px 0;
                        }
                        .game-infos {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 40%;
                        }
                        .short-right {
                            display: flex;
                            align-items: flex-end;
                            flex-direction: row-reverse;
                            width: 30%;
                         
                        }
                        .short-left {
                            display: flex;
                            flex-direction: row;
                            width: 30%;
                        }
                        .open-layer {
                            width: 50px;
                            height: auto;
                        }
                        .button {
                            display: flex;
                         
                        }
                    }

                }
                .game-description {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    line-height: 1.3;
                    font-size: 16px;
                    padding: 0px 10px 0 28px;
                    .button {
                        display: flex;
                        justify-content: space-around;
                        margin-top: 2em;
                    }
                    span {
                        text-align: left;
                    }
                }
                .price {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 15px;
                }
                .slider-button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background: rgba(0, 0, 0, 0.5);
                    color: white;
                    border: none;
                    cursor: pointer;
                    font-size: 24px;
                    padding: 10px;
                    z-index: 100;
                }
                
            }
            .card.expanded {
                min-height: 700px;
            }
        }
    }

    /* 📲 Call-to-Action */
  .community-section {
    margin: 60px 0;
    padding: 40px 20px 10px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    background-color: $background-color-1;
    .icons-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: -240px;
        img:first-child {
            display: none;
        }
        img:last-child {
            display: none;
        }
        @include respond-to("desktop") {
            img:first-child {
                display: block;
            }
            img:last-child {
                display: block;
            }
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 0 4em 0;
    }
    .bottom-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left {
            a {
            color: $secondary-text-color;
            font-size: clamp(1rem, 1vw, 1em);
            text-decoration: none;
            padding: 0 6px 0 0;
            }
        }
    }
      h2 {
        font-size: clamp(1.4rem, 4vw, 3em);
        color: $secondary-text-color;
      }
      p {
        font-size: clamp(1.4rem, 3vw, 2em);
        margin-bottom: 20px;
        color: $secondary-text-color;
        width: 100%;
        @include respond-to("desktop") {
            width: 50%;
        }
      }
      .icon {
        img {
            width: 25%;
            min-height: auto;
        }
      }
  }
  
}
